.background {
    background-image: url("../images/background.jpg");
    /* position: fixed; */
    /* z-index: -1; */
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
body{
    color: white;
    font-family: 'Oswald', sans-serif;
}
.headerFont{
    font-family: 'Oswald', sans-serif;
    padding: 10px;
}
.header{
    width: 100%;
}
@keyframes colorchange {
    0% { color: white; }
    100% { color: gray; }
  }

.mainText{
    animation: colorchange 5s infinite alternate;
    padding: 200px 0 20px 0;
    font-size: 3vw;
  }

  /* .grayText{
      background-color: black
  } */

  .reSize{
      height: 50px;
      width: auto;
      padding: 0, 0, 0, 10px;
  }

  .textShadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5),
    -1px -1px 1px rgba(0,0,0,0.5),
    1px -1px 1px rgba(0,0,0,0.5),
    -1px 1px 1px rgba(0,0,0,0.5);
  }

  .imgResizing{
      height: auto;
      width: 150px;
      padding: 15px;
  }
  .contentCenter {
      justify-content: center;
  }
  .textCenter{
      text-align: center;
  }
  .subText{
      font-size: 2.5vw;
  }
  .blackText{
      color:black;
  }
  .bigPadding{
      padding: 60px 0 0 0;
  }